SECRET_KEY=my_secret_key

NAME=my_name
USER=my_user
PASSWORD=my_password
HOST=my_host
PORT=my_port

STRIPE_API_KEY=my_api_key
API_URL=api_url

LOCATION=my_location_redis

EMAIL_HOST=my_host
EMAIL_PORT=my_port
EMAIL_HOST_USER=my_host_user
EMAIL_HOST_PASSWORD=my_password
EMAIL_USE_TLS=my_bool
EMAIL_USE_SSL=my_bool