# Django настройки
SECRET_KEY=my_secret_key
DEBUG=1or0
ALLOWED_HOSTS=4.8276,host

# PostgreSQL настройки (для Docker HOST=db)
NAME=my_name
DB_USER=my_user
PASSWORD=my_password
HOST=db
PORT=5432

# STRIPE настройки
STRIPE_API_KEY=my_api_key
API_URL=api_url

# Redis настройки (для Docker LOCATION=redis://redis:6379/0)
LOCATION=redis://redis:6379/0

# Email настройки
EMAIL_HOST=my_host
EMAIL_PORT=my_port
EMAIL_HOST_USER=my_host_user
EMAIL_HOST_PASSWORD=my_password
EMAIL_USE_TLS=my_bool
EMAIL_USE_SSL=my_bool